{
  "timeout": 60,
  "role": "<role-arn>",
  "hooks": {
    "build": "cp ../../config.ini config.ini && mkdir -p lester && curl -sL https://git.io/v2V4Y | tar xz -C lester",
    "clean": "rm -rf lester config.ini"
  }
}
